--- 
layout: default 
title: Home 
---

<div class="flex flex-row flex-wrap md:flex-nowrap">
    <section class="top-0 mt-16 dark:text-gray-200 mr-16">
        <div class="flex flex-row items-center md:flex-col">
            <img class="mb-6 mr-6 rounded-full w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 object-cover border-gray-200 border-4" src="{{ "assets/images/headshot.jpg" | relative_url }}" alt="">
            <div>
                <h3 class="text-xl text-gray-800 underline">Luke Grippa</h3>
                <p class="mt-2 max-w-2xl text-gray-600">computer engineering graduate @ University of Delaware | UD CTF Team | volunteer @ UD Innovation Health and Design Lab | traveler | foodie </p>
            </div>
        </div>
        <ul class="flex flex-row flex-wrap md:flex-col mt-5">
            <li class="flex flex-row items-center pl-4 md:pl-0 pt-3">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg> Paramus, NJ
            </li>
            <li class="pl-4 md:pl-0 pt-3">
                <a class="flex flex-row items-center" href="https://github.com/grippal"><img class="w-5 h-5 mr-2" src="{{ "assets/images/github.png" | relative_url }}" alt="">Github</a>
            </li>
            <li class="pl-4 md:pl-0 pt-3">
                <a class="flex flex-row items-center" href="https://www.linkedin.com/in/luke-grippa-603026134/"><img class="w-5 h-5 mr-2" src="{{ "assets/images/linkedin.png" | relative_url }}" alt="">LinkedIn</a>
            </li>
            {%- comment -%}
            <li class="pl-4 md:pl-0 pt-3">
                <a class="flex flex-row items-center" href="https://twitter.com/luke_grippa"><img class="w-5 h-5 mr-2" src="{{ " assets/images/twitter.png " | relative_url }}" alt="">Twitter</a>
            </li> {%- endcomment -%}
            <li class="pl-4 md:pl-0 pt-3">
                <a class="flex flex-row items-center" href="mailto: me@lukegrippa.com">
                    <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg> Email
                </a>
            </li>
        </ul>
    </section>

    <section class="mt-16">
        <div class="flex items-center dark:text-gray-200 border-b-4 border-blue-600 mb-12 pb-3">
            <svg class="w-10 h-10 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                </svg>
            <h1 class="font-medium text-3xl sm:text-4xl">About me</h1>
        </div>

        <div class="text-xl sm:text-2xl">
            <p class="font-normal text-gray-700 dark:text-gray-300 py-3">Hi, I'm Luke Grippa! I have a Bachelors in Computer Engineering with minors in Computer Science and Cybersecurity. I love to travel, play guitar, and snowboard.
                <br> <br> On this website you can find a list of the projects I have completed as well as a link to my cybersecurity blog. Thanks for checking it out, feel free to reach out to me with any questions or concerns!
            </p>

            <section class="border-gray-300 border-4 rounded-md mt-16">
                <p class="font-medium text-gray-700 dark:text-gray-300 bg-gray-300 pl-4 py-1"> Skills</p>
                <div class="sm:pl-4 py-4">
                    {% for category in site.data.skills %}
                    <p class="font-medium text-gray-700 dark:text-gray-300 mt-2 mb-2 ml-2 lg:ml-0">{{ category.name }}:</p>
                    <div class="flex flex-row flex-wrap mb-8 ml-6">
                        {% for item in category.tech %}
                        <p class="text-gray-600 text-sm text-center align-middle rounded-xl font-semibold mx-1 my-2 px-4 py-2 bg-blue-200">
                            {{ item }}
                        </p>
                        {% endfor %} {%- comment -%}
                        <ul class="sm:pl-4 py-4 grid grid-cols-3 list-disc font-normal text-gray-700 dark:text-gray-100">
                            {% for item in category.tech %}
                            <li class="mx-10 py-1">{{ item }}</li>
                            {% endfor %}
                        </ul> {%- endcomment -%}
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </section>
</div>